*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    font-style: italic;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
hr{
    display: block;
    height: 1px;
    border:0;
    border-top: 1px solid #ccc;
    margin: 1em 0 1em 0;
    padding: 0;
}
.container{
    max-width: 960px;
    overflow: auto;
    margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}

.column{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

#logo{
    display: block;
     margin-left: auto;
     margin-right: auto;
     height: 500px;
     width: 500px;
  }

h1, h2{
    font-size: 42px;
    text-align: center;
    color: #ff0000;
}
h1, hr {
    background: #0e0e0e;
}
p{
    font-size: 28px;
    text-align: center;
}
h1 p{
    background: #0e0e0e;
}
#myVideo {
    position: absolute;
    z-index: -100;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
#myBackground {
    position: absolute;
    z-index: -100;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    height: 96%;
}
#currentWord{
    font-size: 36px;
    color: #ff0000;
}
#lastWord, #yourLoses, #yourWins, #yourGuesses, #yourLives{
    font-size: 34px;
    color: #ff0000;
}
@media (max-width: 960px){
    .container{
        width: auto;
    }
    .column{
        float: none;
        width: auto;
    }
}
